table{
    width: 50%;
    height: 300px;
    background-color: rgba(0, 0, 0, .8);
    color: rgba(215, 218, 35, 0.904);
    empty-cells: hide;
    border-spacing: 20px;
    /* border-collapse:collapse ; */
    border:1px solid red;
}
thead{
    /* background-color: yellowgreen; */
    height: 200px;
}
th{
    /* background-color: green; */
    font-size: 30px;
    border: 1px solid green;
    /* color: purple; */
}
td{
    /* background-color: yellow; */
    font-size: 20px;
    border: 1px solid black;
    text-align: center;
}
tbody{
    background-color: aqua;
    height: 200px;
}
/* 
    background-color: black or white

    color name: black and white
    rgb name: rgb(0,0,0) and rgb(255,255,255)
    rgba name: rgba(0,0,0,1) and rgba(255,255,255,1)
    hexcode name: #000000 and #ffffff

*/